/* Your custom css code goes here */
.dropbtn {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    background-color: #fff;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ffffff
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    padding: 3px;
    background-color: #ffffff;
}

#urut {
    width: 200px;
}

#urut p {
    font-size: 16px;
}

.fa {
    font-size: 14px;
}

.checked {
    color: orange;
}

.label {
    color: white;
    padding: 8px;
}

.success {
    background-color: #4CAF50;
}

/* Green */
.info {
    background-color: #2196F3;
}

/* Blue */
.warning {
    background-color: #ff9800;
}

/* Orange */
.danger {
    background-color: #f44336;
}

/* Red */
.plain {
    background-color: #fff;
    color: black;
    float: right;
}

.text h5 {
    margin-bottom: 10px;
}

#heading {
    font-family: Playfair Display, serif;
}

#heading, #update {
    margin-bottom: 10px;
}

#description {
    margin-top: 30px;
    margin-bottom: 10px;
}

#btn_jadwal {
    padding-left: 4px;
    padding-right: 4px;
    width: 120px;
    background-color: #f5f5f5;
    color: #000;
}

#teacherTitle {
    padding-bottom: 1em;
    padding-top: 2em;
}

#teacherContainer {
    padding-top: 0.5em;
}

#head {
    margin-bottom: 3em;
}

#page_logo {
    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
}

#udx_header {
    padding-top: 2em;
}

#udx_section {
    padding-top: 20px;
    padding-bottom: 0px;
}

#abt_video {
    background-image: url('../img/person_1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#dx_section1 p > a, p > a:hover, p > a:active, p > a:focus {
    background: #7676eb;
    box-shadow: 3px 3px 2px #808080;
    color: #ffffff;
}

section > hr {
    border-width: 3px;
    margin: 3em;
    border-color: #000;
}

.probootstrap-cta {
    background-image: url('../img/assets/rsz_11a3.png');
    background-repeat: no-repeat;
}

#btn_join_teacher {
    background-image: linear-gradient(to left, #3b63ff, #bc7bff);
}

#btn_login_teacher {
    background-image: linear-gradient(to right, #45c46c, #99ea5c);
}

#btn_enroll {
    background-image: linear-gradient(to right, #45c46c, #99ea5c);
}

.btn.btn-primary.btn-block.btn-flat:hover {
    background: #fff;
    color: #7676eb;
    border: 1px solid #7676eb;
}

.img-circle.img-responsive {
    width: 50px;
    height: 50px;
}

.probootstrap-modal-teacher .media {
    margin-bottom: 20px
}

.probootstrap-modal-teacher .media img {
    border-radius: 3%;
    width: 90px;
    margin: 0 auto
}

.probootstrap-modal-teacher .text h3 {
    font-size: 20px;
    margin: 0
}

.probootstrap-modal-teacher .text p {
    margin-bottom: 10px;
    color: slategray
}

.probootstrap-modal-teacher .text ul {
    font-size: 20px;
    margin: 0
}

.probootstrap-modal-teacher .text li {
    font-size: 14px;
    color: slategray
}

#std_progress a {
    color: #807f7f;
}

